#root {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #444;
  color: #EEE;
}

#roster-pane {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #555;
}

#my-info {
  display: flex;
  flex-direction: column;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 5px;
}

#my-jid {
  margin: 10px;
}

#roster {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

#content-pane {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #444;
  box-shadow: inset 5px rgba(0, 0, 0, 0.8);
}

#conversation-content {
  display: flex;
  flex-direction: column;
}

#conversation-view {
  flex: 1;
  overflow-y: hidden;
  overflow-x: auto;
}

#conversation-input {
  display: flex;
  flex-direction: row;
}

#conversation-input-textbox {
  flex: 1;
}

#conversation-input-send {
}

#roster-tab-switcher {
  display: flex;
  flex-direction: row;
}

.roster-tab-switcher-tab {
  flex: 1;
}

.contacts-entry {
  display: flex;
  flex-direction: row;
}

.contacts-entry-avatar {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin: 4px;
}

.contacts-entry-display {
  flex: 1;
  overflow: hidden;
}

.contacts-entry-presence {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  border: 2px solid #111;
  margin: 2px;
}
